<div class="issue_form">
  <%= form_with model: @issue, url: flow_path(@issue), local: true do |f| %>
    <div class="title_box">
      <%= f.text_area :title, class: "title", placeholder:"title" %>
    </div>
    <div class="content_box">
      <%= f.text_area :content, class: "content", placeholder:"マークダウン記述使えます" %>
    </div>
    <%= f.hidden_field :ancestry%>
    <div class="submit_btn">
      <%= f.submit class: "submit", value: "更新する" %>
    </div>
  <% end %>
</div>