<div class="issue_form">
  <%= form_with model: @issue, url: flows_path, local: true do |f| %>
    <%= f.fields_for :article do |i| %>
      <div class="title_box">
        <%= i.text_area :title, class: "title", placeholder:"title" %>
      </div>
      <div class="content_box">
        <%# <%= i.text_area :content, class: "content", placeholder:"マークダウン記述使えます" %>
        <textarea name="issue[article[content]]" class="content" v-model='input' placeholder="マークダウン記述使えます"></textarea>
        <div v-html='input | marked' class="abc markdown-body"></div>
      </div>
    <% end %>
    <%= f.hidden_field :ancestry%>
    <div class="submit_btn">
      <%= f.submit class: "submit", value: "作成する" %>
    </div>
    <%= link_to "戻る", root_path, data: {"turbolinks" => false} %>
  <% end %>
</div>

<script type="text/javascript">
  window.onload = function() {
    new Vue({
      el: '.content_box',
      data: {
        input: '',
      },
      filters: {
        marked: marked,
      },
    });
  };
</script>